/* @author: Sheikh Amir
* Includes all the stylesheets
*/
/* Bootstrap v3.3.7 */
@import "bootstrap.css";
/* Fonts. Contains all the extra fonts of the website */
@import "fonts.css";
/* Navbar stylesheet. Contains the css of the top navbar (menu) */
@import "navbar.css";
/* Global css classes */
@import "global.min.css";
/* The main stylesheet. Contains all the custom css */
@import "panel.css";
/* Extra Extra Small screen devices */
@media (max-width: 355px) {
    .hidden-xxs {
        display: none !important;
    }
    .full-width-xxs {
        width: 99.89%;
    }
}
/* Extra Small screen devices */
@media (max-width: 767px) {
    .text-center-xs {
        text-align: center;
    }
    .display-block-xs {
        display: block;
        margin: 0 auto 30px !important;
        width: 99.98%;
    }
    .no-padding-xs {
        padding: 0 !important;
    }
    .content-wrapper {
        padding: 15px 15px 15px 55px;
    }
    .wrapper .summary-wrapper .summary-box {
        min-width: 100px;
    }
    .wrapper .summary-wrapper .summary-box {
        margin: 0 10px 10px 0;
    }
    .wrapper .summary-wrapper .summary-box .box {
        width: 60%;
    }
    .wrapper .summary-wrapper .summary-box .box.icon {
        font-size: 36px;
        line-height: 30px;
        width: 40%;
    }
    .wrapper .summary-wrapper .summary-box .box.icon .material-icons {
        font-size: 45px;
    }
    .wrapper .summary-wrapper .summary-box .box .box-item.value {
        font-size: 22px;
    }
    .wrapper.sidebar-active .sidebar-wrapper {
        background: rgba(44,62,80,.95);
    }
    .wrapper.sidebar-active .content-wrapper {
        padding-left: 55px;
        /*filter: blur(5px);*/
    }
    .wrapper .section-wrapper .inner-wrapper {
        height: 200px;
    }
    .wrapper .section-wrapper:nth-child(2n),
    .wrapper .section-wrapper:nth-child(2n+1){
        padding: 10px 0 10px 0 !important;
    }
}

/* Small screen devices */
@media (min-width: 768px) and (max-width: 991px) {
    .wrapper .summary-wrapper .summary-box:nth-child(4n) {
        /*background: red;*/
        margin-right: 0;
    }
    .wrapper .summary-wrapper .summary-box {
        width: 23.2%;
    }
    .wrapper.sidebar-active .summary-wrapper .summary-box:nth-child(4n) {
        margin-right: 15px;
    }
    .wrapper.sidebar-active .summary-wrapper .summary-box:nth-child(3n) {
        /*background: green;*/
        margin-right: 0;
    }
    .wrapper.sidebar-active .summary-wrapper .summary-box {
        width: 30.9%;
    }
}
/* Medium screen devices */
@media (min-width: 992px) and (max-width: 1199px) {
    .wrapper .summary-wrapper .summary-box {
        width: 15%;
    }
}
/* Large screen devices */
@media (min-width: 1200px) and (max-width: 1599px) {

}
/* Extra Large screen devices */
@media (min-width: 1600px) {
    /*.content-container .content-inline.ads .ads-content a.ad-box:nth-child(4n) {
        margin-right: 0;
    }*/
}