/* @author: Sheikh Amir
* Includes all the stylesheets
*/
/* Bootstrap v3.3.7 */
@import "bootstrap.css";
/* Fonts. Contains all the extra fonts of the website */
@import "fonts.css";
/* Navbar stylesheet. Contains the css of the top navbar (menu) */
@import "navbar.css";
/* The main stylesheet. Contains all the custom css */
@import "style.css";
/* Extra Extra Small screen devices */
@media (max-width: 355px) {

    .col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
        /*width:100%;*/
    }
    .col-xxs-12 {width: 100%;}
    .col-xxs-11 {width: 91.66666667%;}
    .col-xxs-10 {width: 83.33333333%;}
    .col-xxs-9 {width: 75%;}
    .col-xxs-8 {width: 66.66666667%;}
    .col-xxs-7 {width: 58.33333333%;}
    .col-xxs-6 {width: 50%;}
    .col-xxs-5 {width: 41.66666667%;}
    .col-xxs-4 {width: 33.33333333%;}
    .col-xxs-3 {width: 25%;}
    .col-xxs-2 {width: 16.66666667%;}
    .col-xxs-1 {width: 8.33333333%;}


    .mb-xxs-10{margin-bottom:10px;}
    .mb-xxs-15{margin-bottom:15px;}
    .mb-xxs-20{margin-bottom:20px;}

    .hidden-xxs {
        display: none !important;
    }
    .full-width-xxs {
        width: 99.89%;
    }

    .about-us-container .about-us-content .about-us-normal {
        font-size: 16px;
    }
    .about-us-container .about-us-content .about-us-normal p {
        padding: 0;
    }
    .about-us-container .about-us-content .about-us-box {
        padding: 10px 0;
        font-size: 16px;
    }
    .category-section .category-section-content .category-item {
        width: 50% !important;
    }
    footer.main-footer .site-info-container .site-info a {
        font-size: 14px !important;
    }
}
/* Extra Small screen devices */
@media (max-width: 767px) {
    .text-center-xs {
        text-align: center;
    }
    .display-block-xs {
        display: block;
        /*margin: 0 auto 30px !important;*/
        width: 100%;
    }
    .mb-xs-10{margin-bottom:50px;}
    .mb-xs-15{margin-bottom:15px;}
    .mb-xs-20{margin-bottom:20px;}

    .header {
        padding: 5px 0;
    }
    .header .header-logo a.logo {
        width: 40px;
        border: none;
        margin: 0;
    }
    .search-bar {
        background: #f2f2f2;
        /*background: #f2f2f2 url('../img/banner.png') center left no-repeat;
        background-size: auto 176px;
        height: 170px;*/
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input {
        width: 99.89%;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.postal-input {
        width: 99.89%;
        margin-top: 15px;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.submit-btn {
        width: 99.89%;
        margin-top: 15px;
    }
    /* The input group of the search box with a select box */
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container {
        display: block;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container .search-bar-group {
        display: block;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container .search-bar-group.selector {
        display: none;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container .search-bar-group.search-bar-input {
        width: 100%;
    }
    /* Categories */
    .category-section {
        max-height: 60px;
        overflow: hidden;
        border: 1px solid #ccc;
    }
    .category-section.on {
        max-height: 700px;
        overflow: visible;
    }
    .category-section .category-section-content {
        color: #222;
    }
    .category-section .category-section-content .category-item {
        display: inline-block;
        width: 33.3%;
        background: transparent;
        border: none;
        vertical-align: middle;
        /*padding: 20px 10px; /* v.1.0 */
        /*padding: 8px 5px; /* v.1.1 & v.1.2 */
        padding: 8px 5px 0; /* v.1.3 */
        color: #f2f2f2;
        text-decoration: none;
        box-shadow: inset 0 0 50px 4px rgba(222,222,222,0);
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -ms-transition: all 300ms;
        -o-transition: all 300ms;
        transition: all 300ms;
    }
    /* sub categories/category */
    .category-section .category-section-content .category-item:after {
        display: inline-block;
        border-top: 8px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 6px solid transparent;
        content: " ";
        position: relative;
        top: -2px;
        margin-top: -7px;
        max-height: 0;
    }
    .category-section .category-section-content .category-item.divider {
        display: none;
    }
    .category-section .category-section-content .category-item.divider:after {
        display: none;
    }
    .category-section .category-section-content .category-item.active:after {
        display: inline-block;
        border-top: 8px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 12px solid #fff;
        border-left: 6px solid transparent;
        content: " ";
        position: relative;
        top: -1px;
        z-index: 1903;
    }
    .category-section .category-section-content .category-item.active .sub-category .sub-category-title {
        text-align: center;
        padding-top: 0;
    }
    .category-section .category-section-content .category-item.active .sub-category .sub-category-title a {
        display: block;
        border: 1px solid #570075;
        padding: 8px 20px;
        border-radius: 4px;
        background: #570075;
        color: #fff;
    }
    .category-section .category-section-content .category-item.active .sub-category .sub-category-title a:hover,
    .category-section .category-section-content .category-item.active .sub-category .sub-category-title a:active,
    .category-section .category-section-content .category-item.active .sub-category .sub-category-title a:focus {
        text-decoration: none;
        background: #570075;
        color: #fff;
        border-color: #000;
    }
    .category-section .category-section-content .category-item.active .sub-category .sub-category-content {

    }
    .category-section .category-section-content .category-item.active .sub-category .sub-category-content .sub-category-inline {
        /*display: block;*/
        width: 100%;
        vertical-align: top;
        margin: 0;
    }
    /*.category-section .category-section-content .category-item.active .sub-category .sub-category-content .sub-category-inline:first-child a {
        border-top: 1px solid #570075;
    }*/
    .category-section .category-section-content .category-item.active .sub-category .sub-category-content .sub-category-inline a {
        display: block;
        width: 100%;
        font-size: 16px;
        border-bottom: 1px solid #570075;
        padding: 12px 0;
        color: #570075;
        text-decoration: none;
    }
    .category-section .category-section-content .category-item.active .sub-category .sub-category-content .sub-category-inline:last-child a {
        border-bottom: none;
    }
    .overflow-hidden {
        overflow: auto !important;
    }
    .category-item-overlay {
        display: none !important;
    }
    /* banner */
    .banner.jumbotron {
        background: #f2f2f2 url('../img/banner.png') top right -40px no-repeat;
        background-size: auto 200px;
        height: 200px;
    }
    .content-container {
        margin-top: 0;
    }
    .content-container .content-inline.ads {
        width: 100%;
        padding: 0;
        background: #f2f2f2;
        border-top: 1px solid #ccc;
    }
    .content-container .content-inline.ads .ads-header {
        /*background: #efefef;*/
    }
    .content-container .content-inline.ads .ads-content {
        white-space: normal;
        background: transparent;
        margin: 0 auto;
        border-color: transparent;
        padding: 0;
    }
    .content-container .content-inline.ads .ads-content a.ad-box {
        width: 50%;
        margin: 0;
        /*margin: 0 40px 40px 0;*/
        background: #fdfdfd;
        border: 3px solid transparent;
    }
    .content-container .content-inline.ads .ads-content a.ad-box:nth-child(4n) {
        margin-right: 0;
    }
    .content-container .content-inline.ads .ads-content a.ad-box:last-child {
        margin-right: 0;
    }
    .content-inline.ads {
        width: 100% !important;
        position: relative;
        margin: 0 auto;
    }

    .about-us-container .about-us-content .about-us-normal {
        font-size: 18px;
    }
    .about-us-container .about-us-content .about-us-normal p {
        padding: 0;
    }
    .about-us-container .about-us-content .about-us-box {
        padding: 10px 0;
        font-size: 16px;
    }
    /* top viewed links */
    .top-info-title {
        text-align: center;
        font-size: 16px;
        padding: 5px 0;
    }
    .top-info-title a {
        text-decoration: none;
        color: inherit;
        display: block;
        text-align: left;
        padding: 5px 2px;
        text-transform: uppercase;
    }
    .top-info-title a.active {
        font-weight: normal;
    }
    .top-info-title a,
    .top-info-title a.active {
        font-weight: bold;
    }
    .top-info-title a .glyphicon {
        float: right;
    }
    .top-info-links {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
    }
    .top-info-links.on {
        max-height: 500px;
        overflow: visible;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* Footer */
    footer.main-footer .divider {
        margin: 10px 0;
    }
    footer.main-footer .link-box {
        margin: 5px auto 10px;
        height: 30px;
        overflow: hidden;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -ms-transition: all 300ms;
        -o-transition: all 300ms;
        transition: all 300ms;
    }
    footer.main-footer .link-box:last-child {
        margin-bottom: 0;
    }
    footer.main-footer .link-box .footer-title {
        padding: 4px 0;
        text-align: left;
    }
    footer.main-footer .link-box .footer-title:after {
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        content: "\e259";
        float: right;
        font-size: 20px;
        text-align: right;
    }
    footer.main-footer .link-box:hover,
    footer.main-footer .link-box:active,
    footer.main-footer .link-box:focus {
        height: 200px;
    }
    footer.main-footer .site-info-container {
        padding: 0 !important;
    }
    footer.main-footer .site-info-container .site-info {
        font-size: 14px;
        padding: 12px 0;
    }
    footer.main-footer .site-info-container .site-info .site-info-links {
        display: block;
        margin: 10px 0 0;
    }
    footer.main-footer .site-info-container .site-info .site-info-links a {
        font-size: 15px;
        display: inline-block;
        width: 32%;
        vertical-align: middle;
        text-align: center;
    }
    .no-padding-xs {
        padding: 0 !important;
    }
    .ad-post-form-container input.input-lg,
    .ad-post-form-container select.input-lg,
    .ad-post-form-container textarea.input-lg {
        padding: 8px;
        font-size: 14px;
        height: auto;
        line-height: 16px;
    }
    .ad-post-form-container {
        padding: 0;
    }
    .ad-post-form-container-inside {
        padding: 0;
    }
    .ad-post-form-container .ad-info-item {
        padding: 8px 15px 20px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
        margin: 0;
    }
    .ad-post-form-container .ad-info-item .title {
        margin: 0 0 15px;
        border-radius: 0;
        padding: 5px 0 0;
        border-bottom: 0;
    }
    .ad-post-form-container .ad-info-item .category {
        padding: 0;
    }
    .ad-post-form-container .ad-info-item .sub-category {
        margin-top: 10px;
        padding: 0;
    }
    .ad-post-form-container .ad-info-item .seller-type-inline {
        width: auto;
        margin-bottom: 8px;
        margin-right: 20px;
        display: inline-block;
    }
    .ad-post-form-container .ad-info-item .seller-type-inline .form-control {
        padding: 0;
        margin: 0;
        width: 20px;
        height: 20px;
        left: 0;
        display: inline-block;
    }
    .ad-post-form-container .ad-info-item .seller-type-inline .input-label {
        display: inline-block;
        cursor: pointer;
        height: 20px;
        vertical-align: middle;
    }
    .ad-post-form-container .ad-info-item .seller-type-inline label {
        font-size: 16px;
        padding: 0 0 0 10px;
        margin: 0;
        line-height: 20px;
    }
    .ad-post-form-container .ad-info-item .price-container label {
        padding: 10px 1px 4px 7px;
    }
    .ad-post-form-container .ad-info-item .contact-info-container {
        padding: 0 !important;
        margin-bottom: 20px;
    }
    .ad-post-form-container .ad-info-item .contact-info-container:last-child {
        margin-bottom: 0;
    }
    .ad-post-form-container .ad-info-item.images-container .video-link-container .video-input,
    .ad-post-form-container .ad-info-item.images-container .video-link-container .video-preview {
        padding: 0;
    }
    .ad-post-form-container .submit-container {
        padding: 15px 15px;
    }
    .login-form-container .login-form {
        width: 90%;
    }
    .search-ads-container {
        padding: 0;
    }
    .search-ads-container .search-ads {
        padding: 0;
        text-align: center;
        border: 0;
    }
    .search-ads-container .search-ads button.ad-item {
        display: inline-block;
        margin: 4px;
        width: 47%;
        padding: 0;
        border-radius: 5px;
        border: 1px solid rgb(255,0,102) !important;
    }
    .search-ads-container .search-ads button.ad-item:nth-child(2n){
    }
    .search-ads-container .search-ads button.ad-item .ad-details {
        display: block;
        width: 100%;
    }
    .search-ads-container .search-ads button.ad-item .ad-details.ad-image-container {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
    .search-ads-container .search-ads button.ad-item .ad-details.ad-image-container .ad-image {
        width: 100%;
        height: 140px;
        border-radius: 5px 5px 0 0;
    }
    .search-ads-container .search-ads button.ad-item .ad-details.ad-details-container {
        padding: 10px;
        min-height: 50px;
    }
    .search-ads-container .search-ads button.ad-item .ad-details.ad-details-container .ad-title a {
        font-size: 14px;
    }
    .search-ads-container .search-ads button.ad-item .ad-details.ad-details-container .ad-category {

    }
    .search-ads-container .search-ads button.ad-item .ad-details.ad-details-container .ad-category a {
        display: block !important;
        font-size: 12px;
    }
    .search-ads-container .search-ads button.ad-item .ad-details.ad-details-container .ad-category a.hidden-xs {
        display: none !important;
    }
    .user-tabs-container {
        display: none;
    }
}

/* Small screen devices */
@media (min-width: 768px) and (max-width: 991px) {
    .header .header-logo a.logo {
        margin: 0;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input {
        width: 68.2%;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.postal-input {
        width: 29.2%;
        margin: 0;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.submit-btn {
        width: 99.89%;
        margin-top: 15px;
    }
    /* The input group of the search box with a select box */
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container {
        display: block;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container .search-bar-group {
        display: block;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container .search-bar-group.selector {
        display: none;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container .search-bar-group.search-bar-input {
        width: 100%;
    }
    .banner.jumbotron {
        background: #f2f2f2 url('../img/banner.png') top right -30px no-repeat;
        background-size: auto 240px;
        height: 240px;
    }
    .content-container .content-inline.ads {
        padding: 0;
    }
    .content-container .content-inline.ads .ads-content a.ad-box {
        width: 30% !important;
        margin: 0 20px 40px 0;
    }
    .content-container .content-inline.ads .ads-content a.ad-box:nth-child(3n) {
        margin-right: 0;
    }
    .content-container .content-inline.ads .ads-content a.ad-box:nth-child(4n) {
        margin-right: 20px;
    }
    .content-inline.ads {
        width: 99.89% !important;
    }
    .search-bar-mobile {
        display: none !important;
    }
    .ad-post-form-container input.input-lg,
    .ad-post-form-container select.input-lg,
    .ad-post-form-container textarea.input-lg {
        padding: 10px;
        font-size: 14px;
        height: auto;
        line-height: 18px;
    }
    .ad-post-form-container .ad-info-item .category {
        padding: 0;
    }
    .ad-post-form-container .ad-info-item .sub-category {
        margin-top: 10px;
        padding: 0;
    }
    .ad-post-form-container .ad-info-item {
        margin: 5px 0;
    }
    .search-ads-container {
        padding: 0 20px;
    }
    .search-ads-container .search-filters-container {
        /*margin-bottom: 5px;*/
        /*border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;*/
        /*padding: 15px 5px;*/
        display: inline-block;
        width: auto;
    }
    .search-ads-container .search-filters-container .filter-wrapper {
        display: inline-block;
    }
    .search-ads-container .search-filters-container .filter-wrapper .search-action-btn {
        display: inline-block;
        margin: 15px 0;
        width: auto;
    }
    .search-ads-container .search-term {
        /*padding: 5px 0 5px 15px;
        margin: 0;*/
        display: inline-block;
        width: auto;
    }
    .search-ads-container .search-ads {
        padding: 0 15px;
        text-align: left;
        border: 0;
    }
    .search-ads-container .search-ads button.ad-item {
        display: inline-block;
        margin: 4px;
        width: 32%;
        padding: 0;
        border-radius: 5px;
        border: 1px solid rgb(255,0,102) !important;
    }
    .search-ads-container .search-ads button.ad-item:nth-child(2n){
    }
    .search-ads-container .search-ads button.ad-item .ad-details {
        display: block;
        width: 100%;
    }
    .search-ads-container .search-ads button.ad-item .ad-details.ad-image-container {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
    .search-ads-container .search-ads button.ad-item .ad-details.ad-image-container .ad-image {
        width: 100%;
        height: 140px;
        border-radius: 5px 5px 0 0;
    }
    .search-ads-container .search-ads button.ad-item .ad-details.ad-details-container {
        padding: 10px;
        min-height: 50px;
    }
    .search-ads-container .search-ads button.ad-item .ad-details.ad-details-container .ad-title a {
        font-size: 14px;
    }
    .search-ads-container .search-ads button.ad-item .ad-details.ad-details-container .ad-category {

    }
    .search-ads-container .search-ads button.ad-item .ad-details.ad-details-container .ad-category a {
        display: block !important;
        font-size: 12px;
    }
    .search-ads-container .search-ads button.ad-item .ad-details.ad-details-container .ad-category a.hidden-xs {
        display: none !important;
    }
    .search-ads-container .search-filters-container .title {
        /*display: none;*/
    }
}
/* Medium screen devices */
@media (min-width: 992px) and (max-width: 1199px) {
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input {
        width: 58.8%;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.postal-input {
        width: 39.5%;
        margin: 0;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.submit-btn {
        width: 99.89%;
        margin-top: 15px;
    }
    /* The input group of the search box with a select box */
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container {
        display: block;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container .search-bar-group {
        display: block;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container .search-bar-group.selector {
        display: none;
    }
    .search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container .search-bar-group.search-bar-input {
        width: 100%;
    }
    .category-section .category-section-content .category-item {
        width: 110px;
    }
    .banner.jumbotron {
        background: #f2f2f2 url('../img/banner.png') top center no-repeat;
        background-size: auto 280px;
        height: 280px;
    }
    /*.content-container .content-inline.ads .ads-content a.ad-box:nth-child(5n) {
        margin-right: 0;
    }*/
    .content-container .content-inline.ads {
        padding: 0;
        width: 100% !important;
    }
    .search-bar-mobile {
        display: none !important;
    }
    .search-ads-container .search-filters-container .title {
        /*display: none;*/
    }
}
/* Large screen devices */
@media (min-width: 1200px) and (max-width: 1599px) {
    .has-search-box {
        padding-top: 50px;
    }
    .theme-box {
        margin-right: 15px !important;
        width: 280px;
        height: 280px;
    }
    .theme-box:last-child {
        margin-right: 0 !important;
    }
    .radius-search-container {
        border-width: 74px;
        height: 300px;
        width: 425px;
    }
    .content-container .content-inline.ads .ads-content a.ad-box {
        width: 22%;
    }/*
    .content-container .content-inline.ads .ads-content a.ad-box:nth-child(4n) {
        margin-right: 0;
    }*/
    .search-bar-mobile {
        display: none !important;
    }
}
/* Extra Large screen devices */
@media (min-width: 1600px) {
    /*.content-container .content-inline.ads .ads-content a.ad-box:nth-child(4n) {
        margin-right: 0;
    }*/
}