/*
 * Author: Sheikh Amir
*/
body {
    background-color: #0350b0 !important;
}
.container-fluid.normal,
.container.normal {
    background-color: #fff !important;
    margin-top: 0 !important;
    padding-top: 72px !important;
}
.container-fluid.default,
.container.default {
    background-color: #fff !important;
    margin-top: 0 !important;
    padding-top: 67px !important;
}
.show-at-nothing {
    display: block !important;
}
.register-form-container .register-form {
    margin-top: 30px;
}