.wrapper {
    box-sizing: border-box;
    overflow-x: hidden;
}
/* Top nav */
.nav-wrapper {
    line-height: 40px;
    background: #2c3e50;
    color: #fff;
    padding: 0 40px;
}
/* Sidebar */
.sidebar-wrapper {
    z-index: 1;
    position: fixed;
    width: 40px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #2c3e50;
    transition: all 200ms;
}
.sidebar-wrapper::-webkit-scrollbar {
    width: 6px;
    left: 0;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

/* Track */
.sidebar-wrapper::-webkit-scrollbar-track {
    background: transparent;
}
.sidebar-wrapper:hover::-webkit-scrollbar-track {
    /*background: #0350b0;*/
    background: rgba(22,22,22,0.3);
}

/* Handle */
.sidebar-wrapper::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 24px;
}
.sidebar-wrapper:hover::-webkit-scrollbar-thumb {
    background: rgba(22,222,222,0.6);
}
.sidebar-wrapper .sidebar-nav {
    padding: 0;
    list-style: none;
}
.sidebar-wrapper .sidebar-nav li {
    overflow: hidden;
}
.sidebar-wrapper .sidebar-nav li .divider {
    margin: 15px 8px;
    border-top: 1px solid rgba(220,220,220,0.1);
    transition: all 200ms;
}
.sidebar-wrapper .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd;
    width: 200px;
    overflow: hidden;
    padding: 0;
    transition: all 200ms;
}
.sidebar-wrapper .sidebar-nav li a .item-info {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    overflow: hidden;
}
.sidebar-wrapper .sidebar-nav li a .item-info.icon .glyphicon {
    font-size: 18px;
    margin: 10px 15px 10px 10px;
    top: 0;
}
.sidebar-wrapper .sidebar-nav li a .item-info.icon .material-icons {
    font-size: 24px;
    position: relative;
    margin: 10px 11px 10px 7px;
}
.sidebar-wrapper .sidebar-nav li a .item-info.title {
    line-height: 40px;
}
.sidebar-wrapper .sidebar-nav li a:hover {
    /*background: #16a085;*/
    background: rgba(0,0,0,.3);
    color: #ff0066;
}
.sidebar-wrapper .sidebar-nav li a.active {
    background: #ff0066;
    color: #fff;
}
/* Main content */
.content-wrapper {
    padding: 20px 15px 15px 60px;
    transition: all 200ms;
}
.content-wrapper .container-fluid {
    padding: 0;
}
.content-wrapper .container-fluid .row {
    padding: 0;
}
.content-wrapper .container-fluid .row .col-xs-12 {
    padding: 0;
}

.wrapper.sidebar-active .sidebar-wrapper {
    width: 200px;
}
.wrapper.sidebar-active .sidebar-wrapper .sidebar-nav li a {
    padding: 0 15px;
}
.wrapper.sidebar-active .content-wrapper {
    padding-left: 220px;
}
.wrapper.sidebar-active .sidebar-wrapper .sidebar-nav li a .item-info.icon .glyphicon {
    font-size: 16px;
}
.wrapper.sidebar-active .sidebar-wrapper .sidebar-nav li a .item-info.icon .material-icons {
    font-size: 22px;
}
.wrapper.sidebar-active .sidebar-wrapper .sidebar-nav li .divider {
    border-color: rgba(220,220,220,0.2);
}
.wrapper.sidebar-active .sidebar-wrapper .sidebar-nav li a#menu-toggle .item-info.icon .glyphicon {
    transform: rotate(180deg);
}

.wrapper .summary-wrapper {

}
.wrapper .summary-wrapper .summary-box {
    display: inline-block;
    width: 45%;
    max-width: 169px;
    min-width: 135px;
    background: #2c3e50;
    color: #fff;
    margin: 0 15px 15px 0;
}
.wrapper .summary-wrapper .summary-box.users {
    background: slategray;
}
.wrapper .summary-wrapper .summary-box.ads {
    background: steelblue;
}
.wrapper .summary-wrapper .summary-box.new-ads {
    background: seagreen;
}
.wrapper .summary-wrapper .summary-box.searches {
    background: slateblue;
}
.wrapper .summary-wrapper .summary-box.featured-ads {
    background: darkcyan;
}
.wrapper .summary-wrapper .summary-box.urgent-ads {
    background: darkorange;
}
.wrapper .summary-wrapper .summary-box.spotlighted-ads {
    background: brown;
}
.wrapper .summary-wrapper .summary-box:last-child {
    margin-right: 0;
}
.wrapper .summary-wrapper .summary-box .action {

}
.wrapper .summary-wrapper .summary-box .action a {
    display: block;
    line-height: 25px;
    background: rgba(200,200,200,0.2);
    text-align: center;
    color: rgba(250,250,250,0.5);
    text-decoration: none;
}
.wrapper .summary-wrapper .summary-box .action a:hover {
    background: rgba(200,200,200,0.4);
    color: rgba(250,250,250,0.8);
}
.wrapper .summary-wrapper .summary-box .box {
    width: 50%;
    text-align: center;
    background: rgba(220,220,220,0);
    padding: 10px 0;
    display: inline-block;
}
.wrapper .summary-wrapper .summary-box .box.icon {
    font-size: 44px;
    line-height: 40px;
}
.wrapper .summary-wrapper .summary-box .box.icon .glyphicon {
    top: 0;
    left: 0;
    margin: 0;
    color: rgba(250,250,250,0.3);
}
.wrapper .summary-wrapper .summary-box .box.icon .material-icons {
    font-size: 54px;
    margin-top: -10px;
    top: 5px;
    position: relative;
    margin-bottom: -10px;
    color: rgba(250,250,250,0.3);
}
.wrapper .summary-wrapper .summary-box .box .box-item {

}
.wrapper .summary-wrapper .summary-box .box .box-item.value {
    font-weight: bold;
    font-size: 22px;
}
/* Unapproved ads section */
.wrapper .ads-wrapper {
    padding: 15px 15px;
}
.wrapper .ads-wrapper .inner-wrapper {

}
/* Side by side sections */
.wrapper .section-wrapper .handle {
    font-size: 18px;
    color: rgba(250,250,250,0.9);
    padding: 10px 15px;
    background: #0062cc;
    border-radius: 4px 4px 0 0;
}
.wrapper .section-wrapper .handle span {
    color: rgba(250,250,250,0.6);
    font-weight: bold;
}
.wrapper .section-wrapper .inner-wrapper {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    border: 1px solid #0062cc;
}
.wrapper .section-wrapper .inner-wrapper::-webkit-scrollbar {
    width: 6px;
    left: 0;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

/* Track */
.wrapper .section-wrapper .inner-wrapper::-webkit-scrollbar-track {
    background: transparent;
}
.wrapper .section-wrapper .inner-wrapper:hover::-webkit-scrollbar-track {
    /*background: #0350b0;*/
    background: rgba(22,22,22,0.3);
}

/* Handle */
.wrapper .section-wrapper .inner-wrapper::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 24px;
}
.wrapper .section-wrapper .inner-wrapper:hover::-webkit-scrollbar-thumb {
    /*background: rgba(255,0,102,1);*/
    background: #000;
}
.wrapper .section-wrapper:nth-child(2n) {
    padding: 10px 10px 10px 0 !important;
}
.wrapper .section-wrapper:nth-child(2n+1) {
    padding: 10px 0 10px 10px !important;
}