html,body {
    font-family: ProximaNova,Arial !important;
    padding: 0;
    margin: 0;
}
body.light-bg {
    background-color: #eee;
}
.theme-bg {
    background-color: #570075;
}
.btn-theme {
    background: #0971f1;
    color: #c8dffb;
}
.btn-pink {
    background-color: #ff0066;
    color: #fff;
}
.btn-pink:hover {
    background-color: #dd1144;
    color: #fff;
}
.btn .material-icons {

}

.header {
    /*background: #131a28; /* v.1.1 */
    background: #570075; /* v.1.2 */
    padding: 5px 10px;
}
.header .header-logo a.logo {
    display: block;
    background: url('../img/logo.png') center left no-repeat;
    background-size: 192px 40px;
    width: 220px;
    height: 44px;
    border-right: 1px solid rgba(22,22,22,0.5);
    content: " ";
    margin: 0 0 0 80px;
}
.header .header-links {
    text-align: right;
    padding: 4px 0;
}
.header .header-links a {
    display: inline-block;
    vertical-align: middle;
}
/* ilinks (icon-links)*/
.header .header-links a.ilink.email {
    background: url('../img/email.png') center no-repeat;
    background-size: 40px 30px;
    width: 40px;
    height: 30px;
    content: " ";
}
.header .header-links a.ilink.email:hover {
    box-shadow: inset 0 0 30px 6px rgba(22,22,22,0.4);
}
.header .header-links a.ilink.search {
    background: url('../img/search.png') center no-repeat;
    background-size: 22px 24px;
    width: 44px;
    height: 35px;
    content: " ";
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -ms-transition: all 100ms;
    -o-transition: all 100ms;
    transition: all 100ms;
    margin-left: 5px;
}
.header .header-links a.ilink.search:after {
    background: url('../img/top-arrowhead.png') center bottom no-repeat;
    background-size: 30px 15px;
    width: 44px;
    height: 15px;
    content: " ";
    position: absolute;
    margin-left: -44px;
    bottom: -6px;
}
.header .header-links a.btn-post-ad {
    /*background-color: #28c600; /* v.1.0 */
    /*border: 1px solid #1c7000; /* v.1.0 */
    /*border: 2px solid #28c600; /* v.1.1*/
    /*border: 2px solid rgba(255,0,102,1); *//* v.1.2 */
    background: rgba(255,0,102,1);
    font-size: 17px;
    /*padding: 3px 30px; /* v.1.0 */
    padding: 4px 28px 2px; /* v.1.1 */
    /*color: #eee; /* v.1.0 */
    /*color: #28c600; /* v.1.1 */
    color: #fff; /* v.1.2 */
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: ArconRegular;
    /*box-shadow: inset 0 0 20px 6px rgba(0, 136, 29, 0.18);*/
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    margin: 0 0 0 5px;
    position: relative;
}
.header .header-links a.btn-post-ad:hover {
    /*color: #570075;*/
}
/* Toggle button */
.header .header-links .menu-btn-toggle {
    position: relative;
    padding: 9px 10px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 4px;
    background: transparent;
}
.header .header-links .menu-btn-toggle .icon-bar {
    padding: 0;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
}
.header .header-links .menu-btn-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
.header .header-links .menu-btn-toggle .text {
    display: block;
    padding: 0;
    margin: 2px -10px -9px;
    text-align: center;
    font-size: 10px;
    color: #fff;
}
.header .header-links .sell-btn {
    position: relative;
    height: 41px;
    width: 62px;
    line-height: 41px;
    margin: 0 8px 0;
    color: #fff;
    font-size: 20px;
    background: rgba(255,0,102,1);
    border: none;
    border-radius: 0;
}
.header .header-links .visible-xs-inline-block {
    vertical-align: top;
}
.header .header-dropdown-overlay {
    background: rgba(0,0,0,0.7);
    z-index: 1905;
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;

}
.header .header-dropdown {
    position: fixed;
    top: 0;
    right: -700px;
    padding: 15px;
    background: #fff;
    z-index: 1905;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.header .header-dropdown.open {
    right: 0;
}
.header .header-dropdown a {
    display: block;
    padding: 5px 8px;
    min-width: 180px;
    color: #666;
    font-size: 16px;
    /*text-align: center;*/
    text-decoration: none;
}
.header .header-dropdown a.no-border {
    border: none;
}
.header .header-dropdown .divider {
    font-size: 14px;
    font-family: Verdana, calibri, arial;
    padding: 8px 0;
    margin: 4px 0;
    color: #222;
}
.header .header-dropdown a .header-dropdown-inline {
    /*display: block;*/
    display: inline-block;
    vertical-align: middle;
}
.header .header-dropdown a .header-dropdown-inline.glyphicon {
    /*font-size: 26px;*/
    top: 2px;
}
.header .header-dropdown a .header-dropdown-inline.text {
    margin-left: 8px;
    margin-top: 5px;
    /*font-size: 14px;*/
}
/* nlink (normal-link) */
.header .header-links a.nlink {
    font-size: 18px;
    line-height: 22px;
    color: #eee;
    margin-left: 15px;
    padding: 2px 4px;
    text-decoration: none;
    border-bottom: 1px dotted transparent;
    margin-bottom: -1px;

}
.header .header-links a.nlink:last-child {
    margin-left: 0;
}
.header .header-links a.nlink.register {
    margin-left: 0;
}
.header .header-links a.nlink:hover {
    color: #fff;
    border-color: #fff;
}
.header .header-links a.nlink.user-btn {
    padding: 4px 15px 0;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin: 3px 0 0 15px;
    /* background: rgba(250,250,250,0.18);
    /* #570075 */
    /* #742d8d */
    background: radial-gradient(rgba(0,0,0,.4), #570075 50px);
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    vertical-align: bottom;
    font-family: ArconRegular;
    border: none;
}
.header .header-links a.nlink.user-btn span.glyphicon {
    font-size: 12px;
    padding: 0;
    margin: 0 0 0 8px;
}
.header .header-links a.user-btn:hover {
    border: none;
}

.header .user-menu {
    position: absolute;
    display: block;
    z-index: 1902;
    right: 25px;
    margin: -6px 0 0 0;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 #444;
}
.header .user-menu ul,
.header .user-menu ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.header .user-menu ul li a {
    padding: 10px 15px;
    display: block;
    min-width: 120px;
    color: #222;
    text-decoration: none;
    -webkit-transition: all 200ms;
       -moz-transition: all 200ms;
        -ms-transition: all 200ms;
         -o-transition: all 200ms;
            transition: all 200ms;
}
.header .user-menu ul li:last-child a {
    border-bottom: none;
}
.header .user-menu:hover ul li a {
    /*color: #bbb;
    background: #f1f1f1;*/
}
.header .user-menu ul li a:hover {
    background: #570075;
    color: #fff;
}

.header .header-links .divider {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
    margin: 0 5px;
}

/* Search bar */
.search-bar-container {
    padding: 20px 0;
}
.search-bar {
    background: rgba(250,250,250,0.4);
    padding: 0;
    margin: 20px auto 40px !important;
}
.search-bar.searching {
    margin: 0 auto !important;
}
.search-bar.search-bar-mobile {
    background: url('../img/banner03.png') no-repeat center right -130px;
    background-size: cover;
    margin: 0 auto !important;
    padding: 15px 15px;
}
.search-bar.search-bar-mobile .search-bar-mobile-inner {
    background: rgba(50,50,50,0.3);
    padding: 0 15px;
}
.search-bar .search-bar-content {
    padding: 25px 5px;
}
.search-bar .search-bar-content .search-bar-form {
    padding: 0;
    margin: 0;
    border: 0;
}
.search-bar .search-bar-content .search-bar-form .search-bar-controls {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    border: 3px solid #fff;
}
.search-bar .search-bar-content .search-bar-form .search-bar-controls:last-child {
    margin-right: 0;
}
.search-bar .search-bar-content .search-bar-form .search-bar-controls input {
    display: block;
    width: 100%;
    background: #fff;
    font-size: 14px;
    padding: 8px 8px;
    /*box-shadow: 5px -2px 14px 2px #ddd;*/
    line-height: 20px;
    border: 1px solid #fff;
    position: relative;
    margin: 0 auto;
}
.search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input {
    width: 55%;
}
.search-bar .search-bar-content .search-bar-form .search-bar-controls.postal-input {
    width: 20%;
}
.search-bar .search-bar-content .search-bar-form .search-bar-controls.submit-btn {
    width: 20%;
}
.search-bar .search-bar-content .search-bar-form .search-bar-controls.submit-btn .search-bar-submit-btn {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 14px;
    text-transform: uppercase;
    /*background: #014363; /* v.1.0 & v.1.1 */
    background: #75188d; /* v.1.2 */
    color: #fff;
    border: 1px solid #75188d;
    padding: 11px 20px 9px;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
}
.search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container {
    display: table;
    width: 100%;
}
.search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container .search-bar-group {
    display: table-cell;
    width: auto;
}
.search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container .search-bar-group.selector {
    width: 105px;
}
.search-bar .search-bar-content .search-bar-form .search-bar-controls.search-input .search-bar-group-container .search-bar-group.search-bar-input {
    width: 100%;
}

/* Categories section */
.category-section {
    /*background: #014363; /* v.1.0*/
    /*background: #6b4877; /* v.1.1 (test-demo)*/
    /*background: #570075;*/ /* v.1.2 */
    background: url('../img/banner03.png') no-repeat center center;
    background-size: cover;
    /*padding: 15px 0; /* v1.0 */
    /*padding: 0;*/ /* v.1.1 */
    padding: 20px 0;
    /*box-shadow: inset 0 0 50px 14px rgba(22,22,22,0.7);*/
    position: relative;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    z-index: 1901;
}
.category-section.no-bg-image {
    background: #B32DC8;
}
.category-section.searching {
    padding: 0;
}
.category-section .caption {
    text-align: center;
    font-size: 24px;
    margin: 0 0 12px;
    font-family: 'ArconRegular';
    color: #fff;
}
.category-section .category-section-content {
    text-align: center;
    /*padding: 15px 10px;/* v.1.0 */
    padding: 5px; /* v.1.1 */
    color: #fff;
    /*background: #570075;*/
    background: rgba(87,0,117,0.8);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: normal;
    z-index: 1902;
}
.category-section .category-section-content::-webkit-scrollbar {
    height: 8px;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

/* Track */
.category-section .category-section-content::-webkit-scrollbar-track {
    background: transparent;
}
.category-section .category-section-content:hover::-webkit-scrollbar-track {
    /*background: #0350b0;*/
    background: rgba(22,22,22,0.3);
}

/* Handle */
.category-section .category-section-content::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 24px;
}
.category-section .category-section-content:hover::-webkit-scrollbar-thumb {
    background: rgba(22,222,222,0.5);
}

/* Handle on hover */
/*.category-section .category-section-content::-webkit-scrollbar-thumb:hover {
    background: #222;
}*/
.category-section .category-section-content .category-section-title-xs {
    color: #fff;
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
}
.category-section .category-section-content .category-section-title-xs .glyphicon {
    margin-left: 10px;
}
.category-section .category-section-content .category-section-title-xs.on .glyphicon-chevron-down:before {
    content: "\e113";
}

.category-section .category-section-content .category-item {
    display: inline-block;
    background: transparent;
    border: none;
    vertical-align: middle;
    /*padding: 20px 10px; /* v.1.0 */
    /*padding: 8px 5px; /* v.1.1 & v.1.2 */
    padding: 8px 5px 0; /* v.1.3 */
    color: #f2f2f2;
    width: 145px;
    text-decoration: none;
    box-shadow: inset 0 0 50px 4px rgba(222,222,222,0);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.category-section .category-section-content .category-item:hover {
    /*box-shadow: inset 0 0 50px 4px rgba(222,222,222,0.1); /* v.1.0 */
    background: rgba(0,0,0,0.2);
}
.category-section .category-section-content .category-item.divider {
    /*border-right: 1px solid #012c41; /* v.1.0 */
    /*border-right: 1px solid #5d316d; /* v.1.1 */
    /*box-shadow: 1px 0 1px 0 #734d80; /* v.1.1 */
    border-right: 1px solid rgba(22,22,22,0.5); /* v.1.2 */
    box-shadow: 1px 0 1px 0 rgba(255,255,255,0.18); /* v.1.2 */
    height: 40px;
    margin: 0 5px;
    padding: 0;
    width: 0;
}
.category-section .category-section-content .category-item .category-item-img {
    display: block;
    position: relative;
    margin-bottom: 10px;
    /*height: 50px; /* v1.0 */
    height: 40px; /* v.1.1 */
    content: " ";
    background: #fff;
    /*background-size: auto 50px !important; /* v.1.0 */
    background-size: auto 40px !important; /* v.1.1 */
}
.category-section .category-section-content .category-item .category-item-img.motors {
    background: url('../img/motors.png') center no-repeat;
}
.category-section .category-section-content .category-item .category-item-img.for-sale {
    background: url('../img/for-sale.png') center no-repeat;
}
.category-section .category-section-content .category-item .category-item-img.properties {
    background: url('../img/properties.png') center no-repeat;
}
.category-section .category-section-content .category-item .category-item-img.jobs {
    background: url('../img/jobs.png') center no-repeat;
}
.category-section .category-section-content .category-item .category-item-img.services {
    background: url('../img/services.png') center no-repeat;
}
.category-section .category-section-content .category-item .category-item-img.community {
    background: url('../img/community.png') center no-repeat;
}
.category-section .category-section-content .category-item .category-item-img.pets {
    background: url('../img/pets.png') center no-repeat;
}
.category-section .category-section-content .category-item .category-item-img.dating {
    background: url('../img/dating.png') center no-repeat;
}
.category-section .category-section-content .category-item .category-item-title {
    /*font-size: 18px; /* v.1.0 */
    font-size: 16px; /* v1.1 */
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.category-section .category-section-content .category-item .category-item-desc {
    /*font-weight: bold; /* v.1.1 */
    /*font-size: 12px; /* v.1.0 */
    font-size: 13px; /* v1.1 */
    /*margin-top: 5px; /* v.1.0 */
    margin-top: 0; /* v.1.1 */
    color: rgba( 250, 250, 250, 0.5 ); /* v.1.1 */
}
/* Sub categories/category */
.category-item-overlay {
    z-index: 1900;
    position: fixed;
    height: 2048px;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}
.category-section .category-section-content .category-item:after {
    display: inline-block;
    border-top: 8px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 6px solid transparent;
    content: " ";
    position: relative;
    top: -1px;
    z-index: 1903;
}
.category-section .category-section-content .category-item.divider:after {
    display: none;
}
.category-section .category-section-content .category-item.active {
    background: rgba(255,255,255,0.1);
}
.category-section .category-section-content .category-item.active:after {
    display: inline-block;
    border-top: 8px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #fff;
    border-left: 6px solid transparent;
    content: " ";
    position: relative;
    top: -7px;
    z-index: 1903;
}
.category-section .category-section-content .category-item .sub-category {
    display: none;
    max-height: 0;
    -webkit-transition: 300ms max-height;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms max-height;
}
.category-section .category-section-content .category-item.active .sub-category {
    display: block;
    position: absolute;
    padding: 15px 30px;
    background: #fff;
    margin-top: 12px;
    left: 0;
    right: 0;
    z-index: 1902;
    color: #000;
    text-align: left;
    cursor: auto;
    max-height: 1024px;
}
.category-section .category-section-content .category-item.active .sub-category .sub-category-title {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0 20px;
    max-width: 1366px;
    margin: 0 auto;
}
.category-section .category-section-content .category-item.active .sub-category .sub-category-title a {
    color: #444;
}
.category-section .category-section-content .category-item.active .sub-category .sub-category-content {
    white-space: normal;
    max-width: 1366px;
    margin: 0 auto;
}
.category-section .category-section-content .category-item.active .sub-category .sub-category-content .sub-category-inline {
    display: inline-block;
    width: 25%;
    margin: 0 0 8px;
}
.category-section .category-section-content .category-item.active .sub-category .sub-category-content .sub-category-inline a {
    color: #777;
    font-weight: bold;
}
/* Banner image */
.banner.jumbotron {
    background: #f2f2f2 url('../img/banner.png') center no-repeat;
    background-size: 1366px 318px;
    height: 318px;
    position: relative;
    margin: 0 auto;
}
.banner.about-us.jumbotron {
    background: url('../img/about-us-banner.png') center no-repeat;
    background-size: cover;
    height: 220px;
    position: relative;
    margin: 0 auto;
}

/* Products and ads */
.content-container {
    padding: 0;
    margin: 40px 0 0;
    text-align: center;
}
.content-container.searching {
    margin-top: 0;
}
.content-container .content-inline {
    display: inline-block;
    padding: 0 5px;
    vertical-align: top;
}
.content-container .content-inline.ads {
    width: 79%;
    padding: 0 15px 0 5px;
}
.content-container .content-inline.ads .ads-header {

}
.content-container .content-inline.ads .ads-header a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    line-height: 24px;
    padding: 8px 5px;
    display: inline-block;
    position: relative;
    margin: 0 auto 8px;
    width: 190px;
    text-align: center;
    border-top: 2px solid transparent;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.content-container .content-inline.ads .ads-header a.active {
    font-weight: bold;
}
.content-container .content-inline.ads .ads-header a:after {
    display: block;
    content: " ";
    position: absolute;
    border: 16px solid transparent;
    border-bottom-width: 12px;
    left: 80px;
    bottom: -8px;
}
.content-container .content-inline.ads .ads-header a.active:after {
    border-bottom-color: #efefef;
}
.content-container .content-inline.ads .ads-header a .ads-header-inline {
    display: inline-block;
    vertical-align: middle;
}
.content-container .content-inline.ads .ads-header a .ads-header-inline.ads-header-title {

}
.content-container .content-inline.ads .ads-header a .ads-header-inline.ads-header-img {
    width: 40px;
    height: 30px;
    margin: -7px 0 -5px 6px;
    background: #000;
    content: " ";
    background: url('../img/top-viewed.png') center no-repeat;
    background-size: 30px auto;
}
.content-container .content-inline.ads .ads-header a .ads-header-inline.ads-header-img.top-viewed {
    background-image: url('../img/top-viewed.png');
}
.content-container .content-inline.ads .ads-header a .ads-header-inline.ads-header-img.my-favorites {
    background-image: url('../img/my-favorites.png');
}
.content-container .content-inline.ads .ads-header a .ads-header-inline.ads-header-img.my-alerts {
    background-image: url('../img/my-alerts.png');
}
.content-container .content-inline.ads .ads-header a:hover {
    border-color: #000;
}
.content-container .content-inline.ads .ads-header a.active:hover {
    border-color: transparent;
}
.content-container .content-inline.ads .ads-content {
    padding: 15px 15px;
    /*background: #efefef;*/
    border-top: 4px solid #efefef;
    background: -webkit-linear-gradient(top,#efefef,#fefefe 5%,#fefefe,#efefef);
    background: -moz-linear-gradient(top,#efefef,#fefefe,#efefef);
    background: -ms-linear-gradient(top,#efefef,#fefefe,#efefef);
    background: -o-linear-gradient(top,#efefef,#fefefe,#efefef);
    background: linear-gradient(top,#efefef,#fefefe,#efefef);
    min-height: 400px;
    text-align: center !important;
}

.content-container .content-inline.ads .ads-content a.ad-box {
    display: inline-block;
    width: 22%;
    color: #444;
    background: #fff;
    margin: 0 25px 14px 0;
    text-align: left;
    white-space: normal;
    box-shadow: 0 2px 14px 2px rgba(22,22,22,0.05);
    letter-spacing: 1px;
    vertical-align: top;
    text-decoration: none;
}
.content-container .content-inline.ads .ads-content a.ad-box:hover {
    box-shadow: 0 0 14px 2px rgba(22,22,22,0.2);
}
.content-container .content-inline.ads .ads-content a.ad-box:nth-child(4n) {
    margin-right: 0;
}
.content-container .content-inline.ads .ads-content a.ad-box .ad-box-img {
    height: 170px;
    text-align: center;
    background: #ddd;
    background-size: cover !important;
}
.content-container .content-inline.ads .ads-content a.ad-box .ad-box-title {
    color: #2c96bc;
    font-weight: bold;
    text-align: left;
    padding: 8px 10px 0;
    margin-bottom: 2px;
    font-size: 16px;
}
.content-container .content-inline.ads .ads-content a.ad-box .ad-box-area,
.content-container .content-inline.ads .ads-content a.ad-box .ad-box-category,
.content-container .content-inline.ads .ads-content a.ad-box .ad-box-price {
    padding: 0 10px;
    color: #777;
    font-size: 15px;
    font-weight: bold;
}
.content-container .content-inline.ads .ads-content a.ad-box .ad-box-category {
    font-size: 13px;
}
.content-container .content-inline.ads .ads-content a.ad-box .ad-box-price {
    margin-top: 5px;
    font-size: 18px;
    padding: 5px 10px;
    color: #444;
}

/* Load more button */
.content-container .content-inline.ads .load-more {
    background: #eee;
    color: #444;
    padding: 0;
    text-align: center;
}
.content-container .content-inline.ads .load-more a.load-more-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    /*border: 1px solid #216b9c;*/
    padding: 8px 20px;
    font-size: 14px;
    /*border-radius: 4px;*/
    /*background: #2d8bca;*/
    /*background: -webkit-radial-gradient(circle,#2d8bca,#51a4dc);*/
    background: #999;
    color: rgba(255,255,255,0.8);
    box-shadow: inset 0 0 40px 10px rgba(22,22,22,0);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    text-transform: uppercase;
}
.content-container .content-inline.ads .load-more a.load-more-btn .glyphicon {
    top: 1px;
    vertical-align: top;
    left: 0;
    font-size: 16px;
}
.content-container .content-inline.ads .load-more a.load-more-btn .glyphicon:first-child {
    margin-right: 5px;
}
.content-container .content-inline.ads .load-more a.load-more-btn .glyphicon:last-child {
    margin-left: 5px;
}
.content-container .content-inline.ads .load-more a.load-more-btn:hover {
    box-shadow: inset 0 0 40px 20px rgba(22,22,22,0.3);
    color: #fff;
    padding-top: 16px;
    padding-bottom: 0;
}

/* Adsense */
.content-container .content-inline.adsense {
    width: 19%;
}
.content-container .content-inline.adsense .adsense-ad {
    background: #eee;
    margin-bottom: 20px;
    padding: 80px 15px;
    text-align: center;
    font-size: 24px;
    line-height: 22px;
    color: #999;
}
.content-container .content-inline.adsense .adsense-ad:first-child {
    padding: 200px 15px;
}

/* Searching ads */
.search-ads-container {
    text-align: left;
}
.search-ads-container .search-term {
    margin: 15px 0;
    font-size: 24px;
}
.no-ads {
    background: rgba(240,240,240,.5);
    text-align: center;
}
.search-ads-container .no-ads {
    text-align: center;
}
.search-ads-container .search-filters-container {

}
.search-ads-container .search-filters-container .title {
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    /*background: rgba(190,0,110,1);*/
    padding: 6px 10px;
    font-weight: 600;
    color: #570075;
    border-bottom: 1px solid #570075
}
.search-ads-container .search-filters-container .filter-wrapper {
margin: 20px -5px 0;
}
.search-ads-container .search-filters-container .filter-wrapper:first-child {
margin-top: 0;
}
.search-ads-container .search-filters-container .filter-wrapper {

}
.search-ads-container .search-filters-container .filter-wrapper .search-action-btn {
    font-size: 16px;
}
.search-ads-container .search-filters-container .filter-wrapper .search-action-btn .material-icons {
    position: relative;
    top: 7px;
    right: 2px;
    margin-top: -10px;
}
.search-ads-container .search-filters-container .filter-wrapper .content {
    padding: 10px;
}
.search-ads-container .search-filters-container .filter-wrapper .content .title {
    border: 0;
    padding: 0;
    margin: 8px 0;
    font-size: 16px;
}
.search-ads-container .search-filters-container .filter-wrapper .content .item {
    padding: 2px 0;
}
.search-ads-container .search-filters-container .filter-wrapper .content .item.indent {
    text-indent: 10px;
}
.search-ads-container .search-filters-container .filter-wrapper .content .item a {
    color: #570075;
    font-size: 14px;
}
.search-ads-container .search-filters-container .filter-wrapper .content .item.wu {
    padding-left: 10px;
}
.search-ads-container .search-filters-container .filter-wrapper .content .item .active {
    font-weight: bold;
    color: forestgreen;
}
.search-ads-container .search-filters-container .filter-wrapper .content .item span.active:before {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
    margin-right: 8px;
    padding: 0;
    top: 2px;
    position: relative;
}
/* Filters */
.search-ads-container .search-filters-container .filter-wrapper .content .sub-filter {
    margin: 0 -10px;
    padding: 0 10px;
}
.search-ads-container .search-filters-container .filter-wrapper .content .sub-filter .title {
    font-weight: bold;
    margin-bottom: 10px;
}
.search-ads-container .search-filters-container .filter-wrapper .content .sub-filter .content {
    padding: 0;
}
.search-ads-container .search-filters-container .filter-wrapper .content .sub-filter .content .item {
    margin: 0 -10px;
    padding: 5px 10px;
    /*border-bottom: 1px solid #570075;*/
}
.search-ads-container .search-filters-container .filter-wrapper .content .sub-filter .content .item span.number {
    color: rgba(40,40,40,0.5);
    font-weight: bold;
}
.search-ads-container .search-filters-container .filter-wrapper .content .sub-filter .content.checkbox-filters .item label {
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    user-select: none;
}
.search-ads-container .search-filters-container .filter-wrapper .content .sub-filter .content.checkbox-filters .item label input {

}
.search-ads-container .search-filters-container .filter-wrapper .content .sub-filter .content.checkbox-filters .item label.active {
    color: forestgreen;
    font-weight: bold;
}
.search-ads-container .search-filters-container .filter-wrapper .content .sub-filter .content.price input[type=number],
.search-ads-container .search-filters-container .filter-wrapper .content .sub-filter .content.price input[type=text] {
    width: 34%;
    padding: 8px;
    display: inline-block;
    border-radius: 0;
}
.search-ads-container .search-filters-container .filter-wrapper .content .sub-filter .content.price input:first-child {
    margin-right: 5px;
}
.search-ads-container .search-filters-container .filter-wrapper .content .sub-filter .content.price button {
    width: 24%;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
    border-radius: 0;
    display: inline-block;
    vertical-align: top;
    border-color: transparent;
}
.search-ads-container .search-filters-container .filter-wrapper .content .sub-filter .content.price .item {

}
.search-ads-container .search-ads {
    /*border-left: 1px dashed #ccc;*/ /* changes 23-jul-2019 */
    padding: 0 20px;
}
.search-ads-container .search-ads a.ad-item {
    display: block;
    width: 100%;
    text-align: left;
    background: transparent;
    border: 0;
    border-bottom: 1px dashed rgba(0,0,0,0.1);
    text-decoration: none;
    color: #000;
    padding: 20px 0 20px 20px;
}
.search-ads-container .search-ads a.ad-item:first-child {
    border-top: 1px dashed rgba(0,0,0,0.1);
}
.search-ads-container .search-ads a.ad-item:hover {
    background: #f9f9f9;
}
.search-ads-container .search-ads a.ad-item .ad-details {
    display: table-cell;
    vertical-align: top;
}
.search-ads-container .search-ads a.ad-item .ad-details.ad-image-container {
    width: 200px;
}
.search-ads-container .search-ads a.ad-item .ad-details.ad-image-container a {
    text-decoration: none;
}
.search-ads-container .search-ads a.ad-item .ad-details.ad-image-container .ad-image {
    width: 200px;
    height: 150px;
    border: 1px solid #ddd;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.search-ads-container .search-ads a.ad-item .ad-details.ad-details-container {
    min-height: 150px;
    width: 100%;
    padding: 0 20px;
}
.search-ads-container .search-ads a.ad-item .ad-details.ad-details-container .ad-title {
    position: relative;
}
.search-ads-container .search-ads a.ad-item .ad-details.ad-details-container .ad-title span {
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    color: rgba(190,0,110,1);
}
.search-ads-container .search-ads a.ad-item .ad-details.ad-details-container .ad-desc {
    padding: 8px 0;
    min-height: 80px;
    font-size: 16px;
}
.search-ads-container .search-ads a.ad-item .ad-details.ad-details-container .ad-price:before {
    content: "£";
    margin-right: 2px;
}
.search-ads-container .search-ads a.ad-item .ad-details.ad-details-container .ad-price {
    font-weight: bold;
    color: #444;
    font-size: 18px;
}
.search-ads-container .search-ads a.ad-item .ad-details.ad-details-container .ad-category {
    margin-top: 6px;
    display: inline-block;
}
.search-ads-container .search-ads a.ad-item .ad-details.ad-details-container .ad-category span {
    display: inline !important;
    position: relative;
    font-weight: bold;
}

.search-ads-container .search-ads a.ad-item.featured-ad .ad-details.ad-image-container .ad-image {
    position: relative;
    overflow: hidden;
}
.search-ads-container .search-ads a.ad-item.featured-ad .ad-details.ad-image-container .ad-image:after {
    content: "FEATURED";
    font-size: 14px;
    display: inline-block;
    background: #fff;
    padding: 2px 40px;
    font-family: Arial;
    color: #be006e;
    transform: rotate(-45deg);
    position: absolute;
    font-weight: bold;
    top: 20px;
    left: -42px;
}
.search-ads-container .search-ads a.ad-item.urgent-ad .urgent-time {
    float: right;
    color: red;
    text-transform: uppercase;
    font-family: "Comfortaa", 'ProximaNova';
    font-weight: 600;
}
.search-ads-container .search-ads a.ad-item.urgent-ad .urgent-time:after {
    clear: both;
}

.ad-view-container {

}
.ad-view-container .breadcrumb-container {
    padding: 0;
}
.ad-view-container .breadcrumb-container  .breadcrumb {
    margin: 15px 0 5px;
    font-size: 14px;
    background: transparent;
}
.ad-view-container .ad-view {
    text-align: left;
}
.ad-view-container .ad-view .ad-view-details {
    /*border: 1px solid red;*/ /* demo */
    padding: 10px 5px 10px 10px;
}
/* Ad content */
.ad-view-container .breadcrumb li:before{
    /*color: #360b45;*/
    color: #570075;
    font-weight: bold;
}
.ad-view-container .breadcrumb li:nth-child(2):before{
    content: " ";
    font-size: 24px;
    color: #ccc;
    font-weight: normal;
    vertical-align: middle;
}
.ad-view-container .breadcrumb .glyphicon {
    font-size: 12px;
    line-height: 0;
    margin-right: 3px;
}
.ad-view-container .breadcrumb .back-button {
    /*border-right: 1px solid #570075;*/
}
.ad-view-container .breadcrumb .back-button:after {
    content: "|";
    padding-left: 15px;
    color: #570075;
    font-weight: bold;
}
.ad-view-container .breadcrumb .back-button a {
}
.ad-view-container .breadcrumb .back-button a:hover {
    opacity: 0.9;
}
.ad-view-container .ad-view .ad-view-details.ad-content {

}
.ad-view-container .ad-view .ad-view-details.ad-content .item.ad-title {
    font-size: 24px;
    font-weight: bold;
}
.ad-view-container .ad-view .ad-view-details.ad-content .item.ad-location {
    font-weight: bold;
    margin-top: 10px;
}
.ad-view-container .ad-view .ad-view-details.ad-content .item.price {
    text-align: right;
    font-size: 24px;
    line-height: 26px;
    height: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.ad-view-container .ad-view .ad-view-details.ad-content .item.price .price {
    margin-top: -26px;
}
.ad-view-container .ad-view .ad-view-details.ad-content .item .fotorama {
    border: 1px solid #ccc;
}
.ad-view-container .ad-view .ad-view-details.ad-content .item .fotorama .fotorama__nav--thumbs {
    text-align: left;
}
.ad-view-container .ad-view .ad-view-details.ad-content .item.posted {
    margin: 15px 0;
    font-size: 16px;
    color: #999;
}
.ad-view-container .ad-view .ad-view-details.ad-content .item.description {

}
.ad-view-container .ad-view .ad-view-details.ad-content .item.description .title {
    font-size: 22px;
    font-weight: bold;
    font: ArconRegular;
    letter-spacing: 1px;
    padding: 5px 0;
    margin-bottom: 15px;
    border-bottom: 1px dashed #ccc;
}
.ad-view-container .ad-view .ad-view-details.ad-content .item.description .content {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 15px;
    font-size: 16px;
}
/* User details container */
.ad-view-container .ad-view .ad-view-details.seller-details-container {
    padding: 10px 10px 10px 5px;
}
.ad-view-container .ad-view .ad-view-details.seller-details-container .seller-details {
    border: 1px solid #ccc;
    padding: 10px;
}
.ad-view-container .ad-view .ad-view-details.seller-details-container .seller-details .item.name {
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    margin: -10px -10px 0;
}
.ad-view-container .ad-view .ad-view-details.seller-details-container .seller-details .item.name div {
    margin-bottom: 5px;
}.ad-view-container .ad-view .ad-view-details.seller-details-container .seller-details .item.name div:last-child {
    margin-bottom: 0;
 }

.ad-view-container .ad-view .ad-view-details.seller-details-container .seller-details .item.name .rating {
    font-size: 14px;
}
.ad-view-container .ad-view .ad-view-details.seller-details-container .seller-details .item.name .link-container {
    text-align: left;
}
.ad-view-container .ad-view .ad-view-details.seller-details-container .seller-details .item.name .link-container a.link {
    font-weight: normal;
    color: rgba(190,0,110,1);
}

.ad-view-container .ad-view .ad-view-details.seller-details-container .seller-details .item.user-since {
    font-size: 14px;
    color: #666;
    font-weight: bold;
    padding: 15px 0 10px;
    border-bottom: 1px solid #ddd;
}



/* About us page */
.about-us-container {
    padding: 20px 20px;
}
.about-us-container .about-us-title {
    font-size: 32px;
}
.about-us-container .about-us-content {
    text-shadow: 1px 1px 2px #ccc;
    letter-spacing: 1px;
}
.about-us-container .about-us-content h1,
.about-us-container .about-us-content h2,
.about-us-container .about-us-content h3 {
    /*color: #ff0066;*/
    text-align: center;
    margin-top: 0;
}
.about-us-container .about-us-content .about-us-normal {
    font-size: 20px;
    color: #777;
    text-shadow: 1px 1px 2px #bbb;
}
.about-us-container .about-us-content .about-us-normal p {
    padding: 20px 0;
    text-align: justify;
}
.about-us-container .about-us-content .about-us-normal.idea h1 {
    font-size: 200%;
    margin-top: 0;
    padding-top: 0;
    /*color: #28c600;*/
    color: #555;
}
/*.about-us-container .about-us-content .about-us-normal.idea h1:after {
    display: inline-block;
    position: relative;
    margin: 0 0 0 15px;
    width: 40px;
    height: 50px;
    background: url('../img/idea-green.png') center no-repeat;
    background-size: auto 50px;
    content: " ";
    *//*vertical-align: middle;*//*
}*/
.about-us-container .about-us-content .about-us-right-img {
    background: url('../img/idea.png') right bottom no-repeat;
    background-size: auto 100%;
}
.about-us-container .about-us-content .about-us-box {
    padding: 20px 20px 30px;
    margin: 20px 0;
    text-align: justify;
    font-size: 16px;
    line-height: normal;
    color: #444;
}
.about-us-container .about-us-content .about-us-box h2:before {
    display: block;
    position: relative;
    margin: 0 auto 15px;
    width: 120px;
    height: 120px;
    background: #000;
    content: " ";
    vertical-align: middle;
}
.about-us-container .about-us-content .about-us-box.who h2:before {
    background: url('../img/who.png') center no-repeat;
    background-size: auto 120px;
}
.about-us-container .about-us-content .about-us-box.what h2:before {
    background: url('../img/what.png') center no-repeat;
    background-size: auto 120px;
}
.about-us-container .about-us-content .about-us-box.goal h2:before {
    background: url('../img/goal.png') center no-repeat;
    background-size: auto 120px;
}
/*.about-us-container .about-us-content .about-us-box.who {
    *//*background: -webkit-linear-gradient(top,#ff02a7,#f600e7,#d000ee);*//*
    *//*background: #eee url('../img/i.png') center no-repeat;
    background-size: auto 270px;*//*
    *//*background-size: 200px auto;
    color: #f5c6ff;*//*
}
.about-us-container .about-us-content .about-us-box.who h1 {
    *//*color: #570069;*//*
}
.about-us-container .about-us-content .about-us-box.what {
    *//*background: -webkit-linear-gradient(top,#ff02a7,#f600e7,#d000ee);*//*
    *//*background: #ff0397;*//*
}
.about-us-container .about-us-content .about-us-box.what  h1 {
    *//*color: #860c53;*//*
}
.about-us-container .about-us-content .about-us-box.goal {
    background: transparent;
    color: #0971f1;
}*/

a.ad-banner {
    text-decoration: none;
    color: #000;
    padding: 0;
}
a.ad-banner .ad-banner-img {
    display: block;
    width: 100%;
    height: auto;
}
/* Contact us page */
.contact-us {
    padding-top: 30px;
    padding-bottom: 30px;
}
.contact-us .contact-us-title {
    text-align: center;
    font-size: 200%;
    margin-bottom: 15px;
}
.contact-us .contact-us-content {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0;
}
.contact-us .contact-us-content form {
    margin: 0;
    padding: 0;
}
.contact-us .contact-us-content form .form-control {
    margin: 15px 0;
}
.contact-us .contact-us-content form .form-control:first-child {
    margin-top: 0;
}
/* Contact us map */
.contact-us-map {
    content: " ";
    height: 340px;
}


.user-tabs-container {
    padding-top: 50px;
    background: #570075;
}
.user-tabs-container .nav.nav-tabs {
    border: none;
}
.user-tabs-container .nav.nav-tabs li {
    margin-bottom: 0;
}
.user-tabs-container .nav.nav-tabs li:not(.active) a,
.user-tabs-container .nav.nav-tabs li:not(.active) a:focus {
    color: #fff;
    background: transparent;
}
.user-tabs-container .nav.nav-tabs li:not(.active) a:active,
.user-tabs-container .nav.nav-tabs li:not(.active) a:hover {
    background: #380050;
}
.user-tabs-container .nav.nav-tabs li a {
    border-color: transparent;
}
.user-tabs-container .nav.nav-tabs li.active a {
    font-weight: bold;
    color: #570075;
}
.user-settings-container {

}
.user-settings-container .user-settings {
    margin: 40px 0 !important;
}

.user-settings-container .user-settings table {
    margin: 40px auto;
    position: relative;
    width: 75%;
    max-width: 600px;
    min-width: 400px;
}
.user-settings-container .user-settings div {
    /*padding: 10px 0;*/
    /*white-space: nowrap;*/
}
.user-settings-container .user-settings .heading {
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    color: #570075;
    padding: 10px 0 !important;
}
.user-settings-container .user-settings > .row > .title {
    font-size: 20px;
    padding: 15px 0 8px;
    font-weight: bold;
    color: #570075;
}
.user-settings-container .user-settings .item {
    /*vertical-align: top;*/
    padding: 8px 0;
}
.user-settings-container .user-settings .item > .title {
    font-weight: bold;
    font-size: 16px;
    color: #570075;
}
.user-settings-container .user-settings .item .content {
    font-size: 18px;
    max-width: 400px !important;
}
.user-settings-container .user-settings .item .content a {
    font-size: 16px;
}
.user-settings-container .user-settings .item .content a.btn {
    padding: 3px 15px 0 !important;
    margin-top: 5px;
    border-radius: 0;
}
.user-settings-container .user-settings .item .content.norm,
.user-settings-container .user-settings .item .content.norm a {
    font-size: 14px;
}
.user-settings-container .user-settings .item .content + .content + .content {
    margin-top: 8px;
}
.user-settings-container .user-settings .item .content.not-verified {
    color: #777;
}
.user-settings-container button.close {
    font-size: 42px;
    line-height: 27px;
}
.user-settings-container .modal-body .error-container .error {
    /*font-weight: bold;*/
    /*color: #a94442;*/
    color: #ee0011;
    font-size: 16px;
    padding: 0 !important;
}
.user-settings-container .modal-body .item {
    padding: 10px 0;
}
.user-settings-container .modal-body .item + .item {
    padding-left: 15px;
}
/* The location pointed to by the popup tip. */
.popup-tip-anchor {
    height: 0;
    position: absolute;
    /* The max width of the info window. */
    width: 200px;
}
/* The bubble is anchored above the tip. */
.popup-bubble-anchor {
    position: absolute;
    width: 100%;
    bottom: /* TIP_HEIGHT= */ 8px;
    left: 0;
}
/* Draw the tip. */
.popup-bubble-anchor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* Center the tip horizontally. */
    transform: translate(-50%, 0);
    /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
    width: 0;
    height: 0;
    /* The tip is 8px high, and 12px wide. */
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: /* TIP_HEIGHT= */ 8px solid #444;
}
/* The popup bubble itself. */
.popup-bubble-content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    /* Style the info window. */
    background-color: #444;
    color: #eee;
    padding: 8px 8px;
    border-radius: 5px;
    overflow-y: auto;
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
    font-size: 14px;
}
.popup-bubble-content img {
    display: block;
    width: 160px;
    position: relative;
    margin: 0 auto;
}
.popup-bubble-content table {
    padding: 0;
    margin: 6px 0 0;
    border-collapse: collapse;
    border-top: 1px solid #999;
}
.popup-bubble-content table td {
    vertical-align: top;
    padding: 6px 5px;
}
.popup-bubble-content table td:first-child {
    font-size: 24px;
}

/*
 * W3school code starts here
 *
 * The container must be positioned relative:
*/
.custom-select {
    position: relative;
}
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 8px;
    right: 4px;
    width: 20px;
    height: 20px;
    background: url('../img/up-down-arrows.png') center no-repeat;
    background-size: auto 16px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    /*border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;*/
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
}
/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    /*background: #75188d;*/
    background: #944cad;
    color: #ffffff;
    padding: 10px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}
.select-items div {
    padding: 3px 8px;
    font-size: 14px;
}
.select-selected {
    /*margin-left: -8px;
    margin-right: -8px;*/
    border-color: transparent;
    padding: 8px 8px;
}
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #75188d;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1906;
    max-height: 250px;
    overflow: auto;
}
.select-items::-webkit-scrollbar {
    width: 0;
    -webkit-transition: width 400ms;
    -moz-transition: width 400ms;
    -ms-transition: width 400ms;
    -o-transition: width 400ms;
    transition: width 400ms;
}

.select-items:hover::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.select-items::-webkit-scrollbar-track {
    background: #0350b0;
}

/* Handle */
.select-items::-webkit-scrollbar-thumb {
    background: #222;
}

/* Handle on hover */
.select-items::-webkit-scrollbar-thumb:hover {
    background: red;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
/* w3school css ends here */

.top-info-title {
    text-align: center;
    font-size: 16px;
    padding: 30px 0 10px;
}
.top-info-title a {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
    padding: 5px 2px;
}
.top-info-title a.active {
    font-weight: bold;
}

.top-info-links {
    font-size: 16px;
    text-align: center;
    padding: 15px 15px 30px;
}
.top-info-links a {
    color: #229ff3;
    margin: 0 8px;
}
.top-info-links .divider {
    display: none;
    color: #ccc;
    content: " ";
}
.top-info-links a,
.top-info-links .divider {
    display: inline-block;
}

.ad-post-form-container {
    padding-bottom: 40px;
}
.ad-post-form-container .form-section {
    padding: 0;
}
.ad-post-form-container h2 {
    margin: 0 0 20px;
    padding: 0;
    font-family: ArconRegular;
    font-weight: bold;
}
.ad-post-form-container .ad-info-item.images-container {

}
.ad-post-form-container .ad-info-item.images-container .image-btn {
    display: inline-block;
    width: 180px;
    height: 120px;
    background: #eee;
    border: 1px solid #ccc;
    margin: 0;
    color: #444;
}
.ad-post-form-container .ad-info-item.images-container .image-btn .glyphicon {
    top: 4px;
    display: block;
    margin-bottom: 10px;
    font-size: 26px;
}
.ad-post-form-container .ad-info-item.images-container .image-btn:hover {
    background: #ddd;
    border-color: #bbb;
    color: #000;
}
.ad-post-form-container .ad-info-item.images-container .images-inline {
    display: inline-block;
    vertical-align: top;
}
.ad-post-form-container .ad-info-item.images-container .image {
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    padding: 2px;
    background-size: cover;
    margin-left: 3px;
    margin-right: 3px;
}
.ad-post-form-container .ad-info-item.images-container .im-ln-cl.temp {
    opacity: 0.4;
}
.ad-post-form-container .ad-info-item.images-container .im-ln-cl + .del-image {
    position: absolute;
    display: none;
    font-size: 12px;
    font-weight: normal;
    margin-left: -72px;
    margin-top: 0px;
    padding: 2px 4px 0;
    float: none;
    text-shadow: none;
    background: rgba(00,00,00,0.7);
    opacity: 1;
    color: rgba(300,300,300,0.7);
}
.ad-post-form-container .ad-info-item.images-container .im-ln-cl + .del-image {

}
.ad-post-form-container .ad-info-item.images-container .im-ln-cl:hover + .del-image,
.ad-post-form-container .ad-info-item.images-container .im-ln-cl:hover + .del-image:hover,
.ad-post-form-container .ad-info-item.images-container .im-ln-cl + .del-image:hover {
    display: inline-block;
}
.ad-post-form-container .ad-info-item.images-container .image:first-child {
    margin-left: 0;
}
.ad-post-form-container .ad-info-item.images-container .video-link-container {
    display: block;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}
.ad-post-form-container .ad-info-item.images-container .video-link-container .video-input {
    padding-left: 0;
    padding-right: 8px;
}
.ad-post-form-container .ad-info-item.images-container .video-link-container .video-preview {
    padding-left: 8px;
    padding-right: 0;
}
.ad-post-form-container .ad-info-item.images-container .video-link-container .video-preview iframe {
    display: block;
    border: 1px solid #ccc;
    height: 250px;
    width: 100%;
}



.ad-post-form-container {
    background: #f8f8f8;
}
.ad-post-form-container .ad-info-item {
    padding: 15px;
    margin: 0 0 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.ad-post-form-container .ad-info-item sub {
    font-size: 16px;
}
.ad-post-form-container .ad-info-item:first-child {
    margin-top: 0;
}
.ad-post-form-container .ad-info-item .title {
    margin: -15px -15px 15px;
    padding: 10px 15px 8px;
    font-size: 22px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-family: ArconRegular;
    color: #444;
    letter-spacing: 1px;
    border-radius: 2px 2px 0 0;
}
.ad-post-form-container .ad-info-item .title span {
    font-weight: normal;
    font-size: 18px;
    color: #DC143C;
    font-family: ProximaNova;
}
.ad-post-form-container .ad-info-item .form-control {
    border-radius: 0;
}

.ad-post-form-container .ad-info-item .category {
    padding-left: 0;
    padding-right: 8px;
}
.ad-post-form-container .ad-info-item .sub-category {
    padding-left: 8px;
    padding-right: 0;
}
/* Description box */
.ad-post-form-container .ad-info-item .description {
    height: 200px;
}
.ad-post-form-container .ad-info-item .seller-type-inline {
    display: inline-block;
    width: 220px;
}
.ad-post-form-container .ad-info-item .seller-type-inline .form-control {
    padding: 0;
    margin: 0;
    width: 28px;
    height: 28px;
    left: 0;
    display: inline-block;
}
.ad-post-form-container .ad-info-item .seller-type-inline .input-label {
    display: inline-block;
    cursor: pointer;
    height: 28px;
    vertical-align: middle;
}
.ad-post-form-container .ad-info-item .seller-type-inline label {
    font-size: 22px;
    padding: 0 0 0 10px;
    margin: 0;
    line-height: 28px;
}
.ad-post-form-container .ad-info-item .price-container {
    padding-left: 0;
    padding-right: 8px;
}
.ad-post-form-container .ad-info-item .price-container label {
    position: absolute;
    font-size: 14px;
    line-height: 18px;
    padding: 17px 1px 9px 10px;
    color: #555;
}
.ad-post-form-container .ad-info-item .price-container label .glyphicon {
    top: 0;
    margin: 0;
}
.ad-post-form-container .ad-info-item .price-container input.price {
    padding-left: 26px;
}

.ad-post-form-container .ad-info-item .contact-info-container {
    padding-left: 0;
    padding-right: 8px;
}
.ad-post-form-container .ad-info-item .contact-info-container:last-child {
    padding-left: 8px;
    padding-right: 0;
}
.ad-post-form-container .ad-info-item .contact-info-container label {
    cursor: pointer;
    font-size: 18px;
}
.ad-post-form-container .ad-info-item .contact-info-container label i.glyphicon {
    font-size: 16px;
    top: 2px;
    padding-right: 3px;
}

.ad-post-form-container .ad-info-item.success {
    border-color: #c1e2b3;
}
.ad-post-form-container .ad-info-item.success .title {
    border-color: #c1e2b3;
    background: #c1e2b3;
    color: #3c763d;
}

.ad-post-form-container .submit-container {

}
.ad-post-form-container .submit-container .btn {
    border-radius: 0;
    font-family: ArconRegular;
}
.constrained-width {
    max-width: 1366px !important;
    margin: 0 auto;
    position: relative;
}
footer {
    padding: 0;
}
footer.main-footer {
    padding: 5px 0;
    /*background: #070309; /* v.1.0 & v.1.1 */
    background: #6b4877; /* v.1.2 */
    background-size: cover;
    margin-bottom: 0;
    min-height: 160px;
}
footer.main-footer .divider {
    display: block;
    width: 100%;
    height: 1px;
    content: " ";
    /*background-color: #2b2331; /* v.1.0 & v.1.1 */
    background: rgba(22,22,22,0.3); /* v.1.2 */
    margin: 20px 0;
}
footer.main-footer .link-box {
    margin: 20px 0 10px;
}
footer.main-footer .link-box .footer-title {
    font-size: 18px;
    line-height: 24px;
    /*color: #bbb; /* v.1.0 & v.1.1 */
    color: rgba(255,255,255,0.5); /* v.1.2 */
    margin-bottom: 15px;
}
footer.main-footer .link-box .menu-item {
    margin: 8px 0;
    font-size: 16px;
}
footer.main-footer .link-box .menu-item a {
    /*color: #e0e0e0; /* v.1.0 & v.1.1 */
    color: rgba(255,255,255,0.7); /* v.1.2 */
    text-decoration: none;
    border-bottom: 1px dotted transparent;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
footer.main-footer .link-box .menu-item a:hover {
    border-bottom-color: #fff;
    color: #fff;
}
footer.main-footer .social-network {
    /*color: #fefefe; /* v.1.0 & v.1.1 */
    text-align: center;
}
footer.main-footer .social-network .social-network-title {
    font-size: 18px;
    /*color: #bbb; /* v.1.0 & v.1.1 */
    color: rgba(255,255,255,0.6); /* v.1.2 */
}
footer.main-footer .social-network .social-network-content {
    padding: 12px 15px;
}
footer.main-footer .social-network .social-network-content a.social {
    text-decoration: none;
    padding: 4px 10px;
    /*background: #241b29; /* v.1.0 & v.1.1 */
    background: rgba(11,11,11,0.4); /* v.1.2 */
    /*color: #e0e0e0; /* v.1.0 & v.1.1 */
    color: #eee; /* v.1.2 */
    font-size: 14px;
    margin-right: 8px;
    border-radius: 2px;
    text-align: center;
    letter-spacing: 1px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
footer.main-footer .social-network .social-network-content a.social:last-child {
    margin-right: 0;
}
footer.main-footer .social-network .social-network-content a.social:before {
    display: inline-block;
    margin: -8px 2px -8px -8px;
    width: 24px;
    height: 24px;
    content: " ";
}
footer.main-footer .social-network .social-network-content a.social:hover {
    /*background-color: #352c3a; /* v.1.0 & v.1.1 */
    background: rgba(0,0,0,0.5); /* v.1.2 */
}
footer.main-footer .social-network .social-network-content a.social.facebook:before {
    background: url('../img/facebook-footer.png') center no-repeat;
    background-size: auto 18px;
}
footer.main-footer .social-network .social-network-content a.social.twitter:before {
    background: url('../img/twitter-footer.png') center no-repeat;
    background-size: auto 18px;
}
footer.main-footer .social-network .social-network-content a.social.gplus:before {
    background: url('../img/gplus-footer.png') center no-repeat;
    background-size: auto 18px;
}
footer.main-footer .social-network .social-network-content a.social.pinterest:before {
    background: url('../img/pinterest-footer.png') center no-repeat;
    background-size: auto 18px;
}
footer.main-footer .site-info {
    padding: 12px 15px;
    font-size: 16px;
    /*color: #999; /* v.1.0 & v.1.1 */
    color: rgba(255,255,255,0.8); /* v.1.2 */
    text-align: center;
}
footer.main-footer .site-info a {
    text-decoration: underline;
    color: inherit;
}
footer.main-footer .site-info a:hover {
    /*color: #e0e0e0; /* v.1.0 & v.1.1 */
    color: rgba(255,255,255,0.9); /* v.1.2 */
}

.login-form-container * a {
    color: rgba(255,0,102,1);
}
.login-form-container .login-form {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 350px;
    /* bring your own prefixes */
    transform: translate(-50%, -30%);
    background: rgba(255,255,255,0.8);
}

.login-form-container .login-form .input-container {
    margin: 10px 0;
}
.login-form-container .login-form .input-container .alert.alert-danger {
    padding: 4px 10px !important;
    margin: 0;
}
.login-form-container .login-form .input-container .alert.alert-normal {
    padding: 4px 0 !important;
    margin: 0;
}
.login-form-container .login-form .input-container .btn-theme {
    background: rgba(255,0,102,1);
    color: #fff;
}

.register-form-container * a {
    color: rgba(255,0,102,1);
}
.register-form-container .register-form {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 350px;
    /* bring your own prefixes */
    transform: translate(-50%, -30%);
    background: rgba(255,255,255,0.8);
}

.register-form-container .register-form .input-container {
    margin: 10px 0;
}
.register-form-container .register-form .input-container .alert.alert-danger {
    padding: 4px 10px !important;
    margin: 0;
}
.register-form-container .register-form .input-container .btn-theme {
    background: rgba(255,0,102,1);
    color: #fff;
}
.register-form-container .register-form .input-container.agree-to-policy-container {

}
.register-form-container .register-form .input-container.agree-to-policy-container .policy-agree-box {

}
.register-form-container .register-form .input-container.agree-to-policy-container .policy-agree-box .checkbox {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
.register-form-container .register-form .input-container.agree-to-policy-container .policy-agree-box label {
    
}
.register-form-container .register-form .input-container.agree-to-policy-container .policy-agree-box input.checkbox {
    margin-right: 5px;
}


body.unloaded {
    opacity: 0;
    display: none;
    overflow: hidden;
}
html.unloaded {
    background: #fff;
}
html.unloaded:after {
    content: "Loading...";
    display: block;
    height: 1000%;
    width: 1000%;
    position: fixed;
    font-size: 20px;
    text-align: left;
    transform: translate(-45%, 44%);
    z-index: 1929;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff url('https://ui-ex.com/images/background-transparent-loading-3.gif') center no-repeat;
    background-size: 200px 200px;
}
@keyframes beingload {
    50% {
        background: #fff;
    }
}

.inputs-have-no-radius * input,
.inputs-have-no-radius * button,
.inputs-have-no-radius * .form-control,
.inputs-have-no-radius * .btn,
.no-radius {
    border-radius: 0 !important;
}




.fill-dark {
    background-color: rgba(10,10,10,0.85);
    padding: 30px 20px;
    color: #bbb;
}

.fill-dark a {
    font-size: 16px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.fill-dark a:hover,
.fill-dark a:focus,
.fill-dark a:active {
    color: #ddd;
    text-decoration: none;
}

.fill-dark h1,
.fill-dark h2,
.fill-dark h3,
.fill-dark h4,
.fill-dark h5,
.fill-dark h6 {
    color: #ddd;
}



.row.noMarginRow {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.row.noMarginRow.constrained-width {
    margin-right: auto !important;
    margin-left: auto !important;
}
.no-top-margin {
    margin-top: 0 !important;
}
.add-top-border {
    border-top: 1px solid #ccc;
    box-shadow: 0 0 14px 2px #ddd;
}
.add-bottom-margin {
    margin-bottom: 20px;
}

.content-container .add-bottom-margin {
    margin-bottom: 40px;
}





.border-2 {
    border-radius: 3px !important;
}

.inspired-input-padding {
    height: 38px;
    padding: 10px 16px;
    font-size: 14px;
}

.container-fluid.no-bg {
    background: transparent !important;
    padding-left: 0;
    padding-right: 0;
}
.bg-test {
    background: #000;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.overflow-hidden {
    overflow: hidden !important;
}

.remove-padding {
    padding: 0;
}

.load-defaults {
    padding: 30px 0;
}

.clear-table-defaults {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
.ads-container {
    content: " ";
    display: block;
    max-height: 100px;
    text-align: center;
    padding: 15px;
}
.ads-container.position-5 {
    /*background: url('../img/ads/audi-ad.svg') center no-repeat;
    background-size: cover;
    height: 130px;
    margin: 15px;*/
}

.pagination-container {
    text-align: center;
    background: #f4f4f4;
}

.theme-checkbox {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}
.theme-checkbox:before {
    content: "\e157";
}
.theme-checkbox:hover {

}
.theme-checkbox.selected:before {
    /*content: "\e067";*/
    content: "\e013";
}
.theme-checkbox input {
    margin: 0;
    display: none;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    outline: none;
    opacity: 0;
    /* CSS hacks for older browsers */
    _noFocusLine: expression(this.hideFocus=true);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
}

.modal-body label:not(:first-child) {
    margin-top: 8px;
}

.badge-danger{color:#fff;background-color:#dc3545}.badge-danger[href]:focus,.badge-danger[href]:hover{color:#fff;text-decoration:none;background-color:#bd2130}
.badge-success{color:#fff;background-color:#28a745}.badge-success[href]:focus,.badge-success[href]:hover{color:#fff;text-decoration:none;background-color:#1e7e34}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.clear {
    clear: both;
}